*.o
obj
linker.map
updater.py
*.hex
*.bin
*.json
FlyingAdcBms.cscope_file_list
FlyingAdcBms.layout
can-updater.py
a.out
flash-swd.sh
flash.openocd
stm32_bms
test/test_bms
todo.md
*Zone.Identifier
can-log.csv
bootmsg-pgn.md
VX1_CAN_PGNS_PARAMS.md
bms-comms-updated.md
bms-comms.md
bms-cell-comms.md